
@import 'var';


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

  *::before , *::after{
    box-sizing: inherit;
 }

 html{
    font-family: "Inter", serif;
 }

 .heading{
    color:$linkColor;
    font-size: 2.5rem;
    font-weight: 500;
}
.para{
    color: $paraColor;
    padding: 0.5rem;
    font-size:1.6rem
}

.btn {
    padding: 0.8rem 4rem;
    margin : 1.2rem;
    border: none;
    color: white;
    border-radius: 0.2rem;
    font-weight: bold;
   font-size: 1.2rem;
    &--primary{
    background-color: $btnColor;
}

}


 .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:2rem 5rem;
    box-shadow: 1px 0px 1px $linkColor;
    &__image{
        width:7rem
    }
    &__listContainer {
        display: flex;
        gap: 0.8rem;


      
    }

      &__list{
            list-style: none;
           
            color: $linkColor;
            font-size: 1.2rem;
        }
 }

//  container

.container {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__image{
        width: 70%;
    }
}